@font-face {
  font-family: tipouno;
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: tipodos;
  src: url("/fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: tipotres;
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: tipogris;
  src: url("/fonts/Montserrat-ExtraLight.ttf");
}

.container {
  max-width: 960px;
}

a {
  color: white !important;
  text-decoration: none;
}

.logo {
  width: 100%;
  max-width: 340px;
}

.store {
  width: 100%;
  max-width: 150px;
}

.imagenes {
  width: 300px;
}

.textotipouno {
  font-family: tipouno;
  font-size: 35px;
}

.textotipodos {
  font-family: tipodos;
  font-size: 45px;
}

.textotipotrestitulo {
  font-family: tipotres;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.textotipotres {
  font-family: tipotres;
  font-size: 30px;
}

.textotipotressmall {
  font-family: tipotres;
  font-size: 20px;
}

.textotipogris {
  font-family: tipogris;
  font-size: 15px;
  color: dimgrey;
}

.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

#text {
  font-family: tipotres;
  font-size: 30px;
}

.container-fluid.sizenav {
  max-width: 960px;
}
.logototal {
  width: 150px;
}

#carouselExampleFade {
  max-width: 1024px;
  margin: 0 auto;
}

/* Animaciones */

/* Rotar imagenes */
.logo {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.logo:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
/* Rotar imagenes */

.transition,
ul li i:before,
ul li i:after,
p {
  transition: all 0.25s ease-in-out;
}

.flipIn,
ul li,
h1 {
  animation: flipdown 0.5s ease both;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
}
ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

ul {
  padding-left: 0rem !important;
}

.col-md-12.preguntas {
  width: 90%;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f96200' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f96200' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
